{% extends 'base.html' %}
{% block content %}
<h2>Add New Post</h2>
<form method="POST">
  <label class="form-label">Title</label>
  <input type="text" name="title" class="form-control" required>

  <label class="form-label mt-3">Topic</label>
  <select name="topic" class="form-control" required>
    {% for t in topics %}
    <option value="{{ t }}">{{ t }}</option>
    {% endfor %}
  </select>

  <label class="form-label mt-3">Content</label>
  <textarea name="content" class="form-control" rows="6" required></textarea>

  <button class="btn btn-primary mt-3">Submit Post</button>
</form>
{% endblock %}